<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #ddd;
}

.row {
    display: inline-block;
}

h1, li{
    font-family: Verdana;
}

</style>
</head>
<body>

    <header>
        <div class="row">
            <img src="src/title_logo.png" height="100">
        </div>
        <div class="row">
            <h1>Healm</h1>
        </div>
        <ul>
            
            
        </ul>
        
        <ul>
            <li><a href="">Profile</a></li>
            <li><a href="">Personal Stats</a></li>
            <li><a href="">Groups</a></li>
            <li><a href="">Chat</a></li>
            <li><a href="">Weekly Report</a></li>
            <li style="float:right"><a href="">Logout</a></li>
        </ul>
    </header>

    {% block content %}
    {% endblock content%}


</body>
</html>


