<!DOCTYPE html>
{% extends 'frontpage/base.html' %}

{% block content %}
<html>
    <head>
    <title>Chat</title>
    <meta charset = "UTF-8">
        <meta content="width=device-width,initial-scale=1" name="viewport" />
        <link href="https://fonts.googleapis.com/css?family=Fredoka" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" type="image/png" href="src\title_logo.png" />
        <link rel="stylesheet" type="text/css" href="scrollbar.css"/>
    </head>
    <style>
        *{
            font-family: Fredoka;
            text-align: center;
        }
    </style>
    <body>
        <ul>
            {% for x in message %}
            <li>{{x.sender x.MessageTitle</li>
            {% endfor %}
        </ul>
        <!-- Prob need some kind of loop to show desired number of emails or make it 20 or something-->

       <!--<form>--> 
            <!--<input type="checkbox" id="Message1" name="Message1" value="Content">
            <label for="Message1"> Sender MessageTitle </label><br>
           
          </form> -->
          <section class="current-groups">

          </section>
          <section class="join-groups">

          </section>
          
    </body>
</html>
{%endblock content%}