<!DOCTYPE html>
{% extends 'frontpage/base.html' %}

{% block content %}
<html>
    <head>
    <title>Daily Report</title>
    <meta charset = "UTF-8">
        <meta content="width=device-width,initial-scale=1" name="viewport" />
        <link href="https://fonts.googleapis.com/css?family=Fredoka" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" type="image/png" href="src\title_logo.png" />
        <link rel="stylesheet" type="text/css" href="scrollbar.css"/>
    </head>
    
    <body>

        <div class="right-portion">
            <h1>Here are the results based on your activity over the past week</h1>

        </div>

    </body>
</html>
{%endblock content%}