<!DOCTYPE html>
{% extends 'frontpage/base.html' %}

{% block content %}
<html>
    <head>
    <title>Groups</title>
    <meta charset = "UTF-8">
        <meta content="width=device-width,initial-scale=1" name="viewport" />
        <link href="https://fonts.googleapis.com/css?family=Fredoka" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" type="image/png" href="src\title_logo.png" />
        <link rel="stylesheet" type="text/css" href="scrollbar.css"/>
    </head>
    <style>
        *{
            font-family: Fredoka;
            text-align: center;
        }
    </style>
    <body>
        <div class="header">

        </div>

        <div class="left-portion">
            <nav>
                <li><a href="profile.html">Profile</a></li>
                    <li><a href="ps.html">Personal Stats</a></li>
                    <li><a href="group.html">Groups</a></li>
                    <li><a href="chat.html">Chat</a></li>
                    <li><a href="settings.html">Settings</a></li>
                    <li><a href="{% url 'frontpage:notification' %}">notifications</a></li>
            </nav>
        </div>
        <div class="right-portion">

        
        <a href="{% url 'frontpage:makegroup' %}">Make a New Group</a>
        <h3>Owner:</h3>
        <table>
            {% for ownerGroup in ownerGroups %}
            <tr>
                <td><a href="">{{ownerGroup.GroupName}}</a></td>
            </tr>
            {% endfor %}
        </table>
        <h3>Member:</h3>
        <table>
            {% for userGroup in userGroups %}
            <tr>
                <td><a href="">{{userGroup.Group.GroupName}}</a></td>
            </tr>
            {% endfor %}
        </table>
        <section>
            <div class="group">
                <h1>Groups</h1>
            </div>
        </section>
        <section>
            <div class="join-group">
                <h1>Join a Group or Make a group</h1>
            </div>
        </section>
        </div>
    </body>
</html>

{% endblock content %}