<!-- We don't need this page, makegroup.html already exists -->

<!DOCTYPE html>
<html>
    <head>
    <title>Making a group</title>
    <meta charset = "UTF-8">
        <meta content="width=device-width,initial-scale=1" name="viewport" />
        <link href="https://fonts.googleapis.com/css?family=Fredoka" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" type="image/png" href="src\title_logo.png" />
        <link rel="stylesheet" type="text/css" href="scrollbar.css"/>
    </head>
    <style>
        *{
            font-family: Fredoka;
            text-align: center;
            margin: 0;
        }
        h1{
            background-color: aqua;
            color: aliceblue;
            padding: 10px;
            margin-bottom: 10px;
        }
        .details{
            line-height: 3em;
        }
        label{
            font-size: 20px;
        }
    </style>
    
    <body>
        <h1>Make a new group:</h1>
        <div class="details">
            <label><b>Group Name: </b></label><input type="text" name="Groupname" value="" placeholder="Name of your group"/>
            <h3>Group description:</h3>
            <textarea></textarea>
            <div>
                <h3>Type of group:</h3>
                    <select>
                        <option value=""></option>
                        <option value="Friends">Friends</option>
                        <option value="Family">Family</option>
                        <option value="Organization">Organization</option>
                    </select>
            </div>
            <div>
                <h3>Number of members you want in the group:</h3>
                <input type="number" value="number"/>
            </div>
        </div>
    </body>

</html>