<!DOCTYPE html>
{% extends 'frontpage/base.html' %}

{% block content %}
<html>
    <head>
    <title>Notifications</title>
    <meta charset = "UTF-8">
        <meta content="width=device-width,initial-scale=1" name="viewport" />
        <link href="https://fonts.googleapis.com/css?family=Fredoka" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" type="image/png" href="src\title_logo.png" />
        <link rel="stylesheet" type="text/css" href="scrollbar.css"/>
    </head>
    <style>
        *{
            font-family: Fredoka;
            text-align: center;
        }
    </style>
    <body>
        <div class="header">

        </div>
        <div class="left-portion">
            <nav>
                <li><a href="profile.html">Profile</a></li>
                    <li><a href="ps.html">Personal Stats</a></li>
                    <li><a href="group.html">Groups</a></li>
                    <li><a href="chat.html">Chat</a></li>
                    <li><a href="settings.html">Settings</a></li>
                    <li><a href="notification.html">Notifications</a></li>
            </nav>
        </div>
        <div class="left-portion">
            <h1>Notification Settings</h1>
            <div class="nsettings">
                
            </div>
        </div>
    </body>
</html>
{% endblock content %}