<!DOCTYPE html>
{% extends 'frontpage/base.html' %}

{% block content %}
<html>
    <head>
    <title>Notifications</title>
    <meta charset = "UTF-8">
        <meta content="width=device-width,initial-scale=1" name="viewport" />
        <link href="https://fonts.googleapis.com/css?family=Fredoka" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" type="image/png" href="src\title_logo.png" />
        <link rel="stylesheet" type="text/css" href="scrollbar.css"/>
    </head>
    <style>
        *{
            font-family: Fredoka;
            text-align: center;
        }
    </style>
    <body>

        <div class="left-portion">
            <h1>Notification Settings</h1>
            <div class="nsettings">
                
            </div>
        </div>
    </body>
</html>
{% endblock content %}