<!DOCTYPE html>
{% extends 'frontpage/base.html' %}

{% block content %}
<html>
    <head>
    <title>Personal Stats</title>
    <meta charset = "UTF-8">
        <meta content="width=device-width,initial-scale=1" name="viewport" />
        <link href="https://fonts.googleapis.com/css?family=Fredoka" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" type="image/png" href="{% load static %}" />
        <link rel="stylesheet" type="text/css" href="scrollbar.css"/>
    </head>
    <style>
        *{
            font-family: Fredoka;
            margin: 0;
        }
        h1{
            font-size: 50px;
            text-align: center;
        }
        .ideal{
            display: flex;
            justify-content: space-between;
            width: auto;
            height: 500px;
        }
        .ideal img{
            float: right;
            width: 50%;
        }
    </style>
    <body>
        <h1> These are Statistics retrieved from your smart watch</h1>
        <div class="ideal">
            <p>This is your ideal weight according to height:</p>
            <div>
                <img src="src/ps.jpg" type="img/jpg" alt="Pic"/>
            </div>
        </div>
    </body>
</html>
{% endblock content %}