<!DOCTYPE html>
{% extends 'frontpage/base.html' %}

{% block content %}
<html>
    <head>
    <title>Personal Stats</title>
    <meta charset = "UTF-8">
        <meta content="width=device-width,initial-scale=1" name="viewport" />
        <link href="https://fonts.googleapis.com/css?family=Fredoka" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" type="image/png" href="{% load static %}" />
        <link rel="stylesheet" type="text/css" href="scrollbar.css"/>
    </head>
    <style>
        body{
            font-family: Fredoka;
            margin: 0;
        }
        h1{
            font-size: 50px;
            text-align: center;
            font-family: Fredoka;
        }
        p{
            text-align: center;
            font-size: 25px;
        }

    </style>
    <body>
        <h1> These are Statistics retrieved from your smart watch</h1>

        <div>
            <p>Your current Statistics</p>
            
        </div>

    </body>
</html>
{% endblock content %}