<!DOCTYPE html>

<html>
    <head>
        <title>Contact</title>
        <a href="welcome.html"><h4>Home</h4></a>
        <link href="https://fonts.googleapis.com/css?family=Fredoka" rel="stylesheet" type="text/css">
    <style>
        html{
            font-family: Fredoka;
        }
        .card {
                        display: flex;
                        flex-direction: column;
                    }

                    .card__cover {
                        height: 150px;
                        width: 100%;
                    }

                    .card__content {
                        /* Take available height */
                        flex: 1;
                    }
    </style>
    </head>
    
    <body>
        <h1>Team Healm!!</h1>
        <p text-bold>We are group of 6 members and our contact details</p>
        <ul>
            <li> Brian Scalfano: </li>
            <li> bscalfan@kent.edu </li>
        </ul>
        <ul>
            <li> Nathan Pochedley: </li>
            <li> npoched1@kent.edu </li>
        </ul>
        <div class="card">
            <!-- Cover -->
            <div class="card__cover">
                <img src="D:\My Pics\20181124055541__MG_0723.JPG" width="20%" alt="img">
            </div>
        
            <!-- Content -->
            <div class="card__content">
                <ul>
                    <li> Tejasai Bolem: </li>
                    
                </ul>
            </div>
            <i> tbolem@kent.edu </i>
        </div>
        
        <ul>
            <li> Nathan Plaster: </li>
            <li> nplaster@kent.edu </li>
        </ul>
        <ul>
            <li> Patrick Rode: </li>
            <li> prode@kent.edu </li>
        </ul>
        <ul>
            <li> Dave Lattibeaudiere: </li>
            <li> dlattibe@kent.edu </li>
        </ul>

    </body>
</html>